In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

In [8]:
rs = pd.read_csv("index_1.csv")

print (rs)

            date                 datetime cash_type                 card  \
0     2024-03-01  2024-03-01 10:15:50.520      card  ANON-0000-0000-0001
1     2024-03-01  2024-03-01 12:19:22.539      card  ANON-0000-0000-0002
2     2024-03-01  2024-03-01 12:20:18.089      card  ANON-0000-0000-0002
3     2024-03-01  2024-03-01 13:46:33.006      card  ANON-0000-0000-0003
4     2024-03-01  2024-03-01 13:48:14.626      card  ANON-0000-0000-0004
...          ...                      ...       ...                  ...
3631  2025-03-23  2025-03-23 10:34:54.894      card  ANON-0000-0000-1158
3632  2025-03-23  2025-03-23 14:43:37.362      card  ANON-0000-0000-1315
3633  2025-03-23  2025-03-23 14:44:16.864      card  ANON-0000-0000-1315
3634  2025-03-23  2025-03-23 15:47:28.723      card  ANON-0000-0000-1316
3635  2025-03-23  2025-03-23 18:11:38.635      card  ANON-0000-0000-1275

      money    coffee_name
0     38.70          Latte
1     38.70  Hot Chocolate
2     38.70  Hot Chocolate
3     28.90      Americano
4     38.70          Latte
...     ...            ...
3631  35.76     Cappuccino
3632  35.76          Cocoa
3633  35.76          Cocoa
3634  25.96      Americano
3635  35.76          Latte

[3636 rows x 6 columns]

In [9]:
print(rs.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3636 entries, 0 to 3635
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         3636 non-null   object
 1   datetime     3636 non-null   object
 2   cash_type    3636 non-null   object
 3   card         3547 non-null   object
 4   money        3636 non-null   float64
 5   coffee_name  3636 non-null   object
dtypes: float64(1), object(5)
memory usage: 170.6+ KB
None

In [10]:
new_rs = rs.dropna()

print(new_rs.head())

         date                 datetime cash_type                 card  money  \
0  2024-03-01  2024-03-01 10:15:50.520      card  ANON-0000-0000-0001   38.7
1  2024-03-01  2024-03-01 12:19:22.539      card  ANON-0000-0000-0002   38.7
2  2024-03-01  2024-03-01 12:20:18.089      card  ANON-0000-0000-0002   38.7
3  2024-03-01  2024-03-01 13:46:33.006      card  ANON-0000-0000-0003   28.9
4  2024-03-01  2024-03-01 13:48:14.626      card  ANON-0000-0000-0004   38.7

     coffee_name
0          Latte
1  Hot Chocolate
2  Hot Chocolate
3      Americano
4          Latte

In [11]:
print(new_rs.duplicated())

0       False
1       False
2       False
3       False
4       False
        ...
3631    False
3632    False
3633    False
3634    False
3635    False
Length: 3547, dtype: bool

In [13]:
new_rs.to_csv('Retail_Sales.csv',index=False)

In [33]:
# Ubah kolom datetime jadi format datetime Python

rs["datetime"] = pd.to_datetime(rs["datetime"])

In [34]:
# Total penjualan secara keseluruhan

total_penjualan = rs["money"].sum()
print(f"Total penjualan:{total_penjualan:.2f}")

Total penjualan:115431.58

In [35]:
# Total penjualan per jenis kopi

kopi_terlaris = rs.groupby("coffee_name")["money"].sum().sort_values(ascending=False)
print(kopi_terlaris)

coffee_name
Latte                  27866.30
Americano with Milk    25269.12
Cappuccino             18034.14
Americano              15062.26
Hot Chocolate          10172.46
Cocoa                   8678.16
Cortado                 7534.86
Espresso                2814.28
Name: money, dtype: float64

In [36]:
# Jumlah transaksi berdasarkan metode pembayaran

jumlah_pembayaran = rs["cash_type"].value_counts()
print(jumlah_pembayaran)

cash_type
card    3547
cash      89
Name: count, dtype: int64

In [37]:
# Penjualan per hari

rs["date"] = pd.to_datetime(rs["date"])
penjualan_harian = rs.groupby("date")["money"].sum()
print(penjualan_harian)

date
2024-03-01    396.30
2024-03-02    228.10
2024-03-03    349.10
2024-03-04    135.20
2024-03-05    338.50
               ...
2025-03-19    623.56
2025-03-20    597.60
2025-03-21    636.80
2025-03-22    365.42
2025-03-23    204.76
Name: money, Length: 381, dtype: float64

In [38]:
# Rata-rata pembelian per transaksi

rata_rata = rs["money"].mean()
print(f"Rata-rata transaksi: {rata_rata:.2f}")

Rata-rata transaksi: 31.75

In [40]:
# Simpan hasil data yang udah diolah

rs.to_csv("penjualan_kopi.csv", index=False)